.row {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 70px;
  padding: 12px 0;
  border-bottom: 1px solid #e5e7eb;
  justify-items: start;
}

.row:last-child {
  border-bottom: none;
}

.product {
  display: flex;
  align-items: center;
  gap: 12px;
}

.image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.art {
  font-size: 12px;
  color: #6b7280;
}

.price {
  color: #003B73;
  font-size: 20px;
}

.price, .quantity, .total, .remove {
  text-align: center;
}

.quantity div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.quantity button {
  width: 60px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 900px;
  border: none;
}

.total {
  color: #003B73;
  font-size: 20px;
}

.remove button {
  border: none;
  background-color: transparent;
  color: #E52B0E;
  pointer-events: all;
  cursor: pointer;
}

.remove button:hover {
  opacity: .8;
}