.wrapper {
  padding: 10px 45px 80px;
  max-width: 1200px;
}

.title {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 30px;
}

.card {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.form {
  width: 750px;
  flex: 2;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.row {
  display: flex;
  gap: 16px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 6px;
}

input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #e2e2e2;
  font-size: 14px;
}

.checkbox {
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.primaryBtn {
  background: #186FD4;
  color: white;
  border: none;
  padding: 25px 32px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.primaryBtn:hover {
  background: rgba(31, 111, 222, 0.8);
}

.right {
  flex: 1;
}

.promoBox {
  border: 1px dashed #d0d5dd;
  padding: 24px;
  border-radius: 12px;
}

.promoBox h2 {
  font-size: 24px;
  margin: 0;
  margin-bottom: 15px;
}

.promoBox p {
  font-size: 14px;
  color: #555;
  margin-bottom: 16px;
  line-height: 1.6;
}

.darkBtn {
  display: inline-block;
  padding: 24px 27px;
  background: #0f172a;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
}

.error {
  color: #E52B0E;
  font-size: 14px;
  font-style: italic;
    margin-inline-start: 5px;
}

.error input {
  border: 1px solid #E52B0E;
}

.darkBtn:hover {
  opacity: .8;
}

.checkboxInput {
  width: 18px;
  height: 18px;
  accent-color: #3b82f6; /* современный стиль чекбокса */
  cursor: pointer;
  flex-shrink: 0;
}

.primaryBtn:disabled {
  background: #a0c4ff; /* серый-бледно-синий, например */
  cursor: not-allowed;
  opacity: 0.6;
}