.wrapper {
  margin-inline: 45px;
  margin-block-end: 100px;
}

.page {
  display: flex;
  gap: 20px;
  margin-block-end: 50px;
  align-items: flex-start;
}

.list {
  padding: 15px 20px 0 20px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
}

.title {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 30px;
}

.title1 {
  font-size: 45px;
  font-weight: 600;
  margin-inline-start: 45px;
  margin-bottom: 30px;
}

.header {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: start;
  gap: 90px;
  padding: 8px 0;
  border-bottom: 1px solid #e5e7eb;
}

.empty {
  block-size: 40dvh;
  inline-size: 542px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  font-size: 18px;
  margin: 0 auto;
}

.img {
  font-size: 50px;
}


.shopBtn {
  display: inline-block;
  margin-top: 20px;
  padding: 16px 24px;
  background: #186FD4;
  color: white;
  border-radius: 8px;
  text-decoration: none;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #e2e2e2;
}

.total {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
  text-align: right;
}

.checkoutBtn {
  margin-top: 20px;
  padding: 20px;
  background: #1e66d0;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
}

.checkoutBtn:hover {
  background: rgba(31, 111, 222, 0.8);
}

.catalogButton {
  background: #1f6fde;
  color: #fff;
  border: none;
  padding: 25px 32px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: background .2s;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}

.catalogButton:hover {
  background: #0b1c2d;
  transition: background .2s;
}