@font-face {
  font-family: 'Helvetica';
  src: url('./assets/fonts/helvetica.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Helvetica';
  src: url('./assets/fonts/helvetica_bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
