.page {
  padding: 10px 45px 80px;
  display: flex;
  flex-direction: column;
  align-items: center
}

.pageTitle {
  font-size: 40px;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 520px;
  background: #ffffff;
  border-radius: 12px;
  padding: 32px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.description {
  font-size: 14px;
  line-height: 1.6;
  color: #4b5563;
  margin-bottom: 20px;
}

.label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #111827;
  margin-bottom: 6px;
}

.required {
  color: #ef4444;
}

.input {
  width: 100%;
  height: 44px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  padding: 0 12px;
  font-size: 14px;
  transition: border 0.2s, box-shadow 0.2s;
}

.input:focus {
  outline: none;
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.15);
}

.button {
  width: 100%;
  border: none;
  border-radius: 8px;
  background: #1e66d0;
  color: white;
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
  transition: background 0.2s, transform 0.05s;
  padding: 25px 32px;
}

.button:hover {
  background: rgba(31, 111, 222, 0.8);
}

.button:active {
  transform: translateY(1px);
}

.darkBtn {
  display: inline-block;
  padding: 24px 27px;
  background: #0f172a;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
}

.darkBtn:hover {
  opacity: .8;
}

.error {
  color: #E52B0E;
  font-size: 14px;
  font-style: italic;
  margin-inline-start: 5px;
}

.error input {
  border: 1px solid #E52B0E;
}

.button:disabled {
  background: #a0c4ff; /* серый-бледно-синий, например */
  cursor: not-allowed;
  opacity: 0.6;
}